# Compiled Binary Directory
bin/

# Compiled Intermediate Directory
obj/

# Compiler Log Files
*.log

# Visual Studio User-Specific Files
*.suo
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sdf
*.sln

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a



